.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
}
.section img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 0 10px;
    object-fit: cover;
}
.section .perfil-h3{
    margin: 10px 0 0 0;
}
.section .logo-sena-img{
    width: 100px;
    height: 100px;
    
}
.section .nombre{
    color: white;
}
.section .perfil-h3{
    color: aliceblue;
}
.section .redes-sociales{
    width: 80%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
}
.redes-sociales .redes{
    font-size: 20px;
    color: aliceblue;
} 
.section .progress-bar{
    width: 50%; 
    height: 5px;
    background-color: white; 
    margin:0 10px;
    position: absolute;
}
